@import 'https://fonts.googleapis.com/css?family=Ubuntu+Mono';
h4 {
  text-align: center;
  margin-bottom: 20px; }

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px; }

button {
  margin-top: 20px; }

tbody {
  display: table-row-group;
  vertical-align: middle; }

td {
  display: table-cell;
  vertical-align: inherit;
  width: 14.28%; }

img {
  width: 10cm;
  height: 10cm; }

#image {
  margin-top: 50px;
  margin-bottom: 50px; }

figcaption {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px; }

output {
  text-align: center; }

h3 {
  text-align: center; }

th {
  width: 11.1%;
  padding-bottom: 20px; }

table {
  text-align: center;
  width: 100%; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px; }

#cell1 {
  text-align: left;
  padding-left: 35px; }

#cell2 {
  padding-right: 75px; }

#cell3 {
  padding-right: 40px; }

#cell4 {
  text-align: center; }

#cell5 {
  padding-left: 40px; }

#cell6 {
  padding-left: 75px; }

#cell7 {
  text-align: right;
  padding-right: 35px; }

#user {
  bottom: 2px;
  height: 40px;
  margin-top: 40px;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  width: 100%; }

/******************************************************************************/
/****************************************************************************************/
/* wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15rem;
} */
/* .rangeslider {
  background-color: #fff;
  border-radius: 0;
  height: 0.2rem;
} */
/*  .rangeslider__fill {
  background-color: #8d8685;
  border-radius: 0;
}  */
/* .rangeslider__handle {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
}
.rangeslider__handle::after {
  display: none;
} */
.rangeslider__handle:hover, .rangeslider__handle:active {
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  transition: transform 0.1s ease-in-out;
  -moz-transition: transform 0.1s ease-in-out;
  -webkit-transition: transform 0.1s ease-in-out; }

.rangeslider__value-bubble {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 2.5rem;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  text-align: center;
  background-color: #f06c14;
  padding: 1rem;
  color: #fff;
  width: 5rem;
  margin: 0; }

.rangeslider__value-bubble::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #f06c14;
  position: absolute;
  top: auto;
  left: 50%;
  bottom: -1rem;
  transform: translate(-50%, -45%);
  -webkit-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%); }

/****************************************************************************/
.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.rangeslider {
  background: #e6e6e6;
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.rangeslider--horizontal {
  height: 20px; }

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%; }

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4; }

.rangeslider__fill {
  background: #e6e6e6;
  position: absolute; }

.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%; }

.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%; }

.rangeslider__handle {
  background: #2c3e50;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
  background: #6a91bb;
  border: 0; }

.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y; }

.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x; }

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9); }
